/** @format */

.body-page {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.main-section {
  background-image: url(../image//background/section-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

/*      Section Header    */

.header {
  padding-top: 26px;
  padding-bottom: 27px;
  background-color: rgba(94, 93, 88, 0.6);
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link-logo {
  position: relative;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.logo-img {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  position: absolute;
  left: 13px;
  top: 18px;
}
.accent-color {
  font-weight: 700;
  color: #18cfab;
}
.menu-header {
  display: flex;
  gap: 22px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.header-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.header-link {
  color: rgba(255, 255, 255, 0.6);
}
.header-link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
  padding-bottom: 48px;
}

/*        Section Main       */

.main {
  padding-top: 264px;
  padding-bottom: 243px;
}
.main-title {
  margin-top: 0;
  margin-bottom: 22px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
}
.slogan {
  margin-top: 0;
  margin-bottom: 22px;
  text-align: center;
  font-weight: 700;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
}
.main-subtitle {
  margin-top: 0;
  margin-bottom: 130px;
  text-align: center;
  font-size: 34px;
  color: #d4d4d4;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 26px;
}
.main-btn {
  padding: 16px 17px;
  border-top: 5px solid #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
}
.green {
  background: #18cfab;
}
.blue {
  background: #00cbf6;
}

/*    Block Options    */

.options-menu {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding-left: 0;
}
.item-option {
  min-width: 382px;
  min-height: 377px;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: 8px solid #ffffff;
  border-top: 8px solid #ffffff;
}
.item-option:nth-child(odd) {
  background-color: #1c2a33;
  flex-grow: 1;
  color: #18cfab;
}
.item-option:nth-child(even) {
  background-color: #18cfab;
  flex-grow: 1;
  color: #ffffff;
}
.option-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

/*       Section Servises      */

.servises {
  padding-bottom: 91px;
}
.section-title {
  padding-top: 83px;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  position: relative;
}

.section-divide {
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  border: none;
}
.section-title::after {
  content: "";
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  border: none;
  display: block;
  position: absolute;
  left: 570px;
  top: 154px;
}
.servises-menu {
  margin-top: 70px;
  margin-bottom: 28px;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.servis-item {
  padding: 20px 0;
  text-align: center;
  background: #f8fcfe;
  border: 1px solid #edefef;
  font-size: 16px;
  line-height: 39px;
  color: #717171;
}

.servis-item:hover {
  border: 2px solid #18cfab;
}

.servis-item-active {
  border: 2px solid #18cfab;
  background-color: #18cfab;
  position: relative;
  color: #ffffff;
}
.servis-item-active::after {
  content: "";
  position: absolute;
  left: 84px;
  top: 79px;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 12px solid #18cfab;
}
.servis-description {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.description-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  display: none;
}
.description-item-active {
  display: flex;
}
.description-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}
/*       Section Install       */

.install {
  width: 100%;
  background-image: url(../image/background/section-2.jpg);
  background-size: cover;
  padding-top: 127px;
  padding-bottom: 127px;
  text-align: center;
}
.install-title {
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #18cfab;
}
.install-text {
  margin-top: 0;
  margin-bottom: 62px;
  font-size: 16px;
  line-height: 40px;
  color: #d8d8d8;
}

/*     section Our Works     */

.works {
  padding-top: 12px;
  padding-bottom: 99px;
  background-color: #e9edef;
}
.menu-works {
  padding-left: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
}

.work-item {
  padding: 14px 15px;
  border: 1px solid #dadada;
  font-size: 14px;
  line-height: 42px;
  color: #717171;
}
.work-item:first-child {
  padding-left: 30px;
  padding-right: 30px;
}

.work-item-active {
  color: #18cfab;
  border: 2px solid #18cfab;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
  margin-top: 70px;
  margin-bottom: 70px;
}
.portfolio-item {
  position: relative;
  height: 206px;
}
.portfolio-image {
  width: 100%;
  object-fit: cover;
}
.hidden-block {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 3px solid #18cfab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 24px;
  position: absolute;
  top: 0;
  min-width: 290px;
  display: none;
}

.hidden-title {
  margin-top: 0;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #18cfab;
}
.hidden-text {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #8a8a8a;
  text-align: center;
}

.portfolio-item:hover .portfolio-image {
  display: none;
}
.portfolio-item:hover .hidden-block {
  display: flex;
}
.load {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  background-color: #18cfab;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/*      Section News      */

.news {
  padding-bottom: 129px;
}
.menu-news {
  margin-top: 68px;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 44px;
}
.news-item {
  position: relative;
}
.news-date {
  width: 70px;
  height: 68px;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #203e38;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  position: absolute;
  right: 27px;
  top: 0;
}
.news-date-wrapp {
  display: block;
}
.news-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
}
.news-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: #717171;
}
.news-break {
  margin-left: 20px;
  position: relative;
}
.news-break::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 1px;
  background-color: #717171;
  position: absolute;
  left: -12px;
  top: 1px;
}
.news-item:hover .news-title {
  color: #18cfab;
}
.news-item:hover .news-date {
  background-color: #18cfab;
}

/*     Section Rereviews    */

.reviews {
  background-image: url(../image/background/section-3.jpg);
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 100px;
}
.reviews-title {
  color: #ffffff;
}
.reviewers::before {
  content: "";
  display: block;
  width: 47px;
  height: 33px;
  background-image: url(../image/icons/reviews.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 560px;
  top: -80px;
}
.reviewers {
  position: relative;
  margin-top: 140px;
  margin-bottom: 50px;
  padding-left: 0;
}

.reviewer {
  display: none;
  flex-direction: column;
  align-items: center;
}
.reviewer-active {
  display: flex;
  animation-name: nextSlide;
  animation-duration: 1.3s;
  animation-direction: normal;
  animation-timing-function: ease-out;
}
.hidden {
  display: none;
}

.active-client {
  display: flex;
  animation-name: nextSlide;
  animation-duration: 1.3s;
  animation-direction: normal;
  animation-timing-function: ease-out;
}

@keyframes nextSlide {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.review-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 37px;
}
.reviewer-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 0;
  margin-bottom: 8px;
}
.reviewer-position {
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 50px;
}

.reviewer-image {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 12px solid rgba(10, 116, 116, 0.3);
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.slider-list {
  display: flex;
  padding-left: 0;
  gap: 35px;
}
.reviewer-slider-active {
  position: relative;
  top: -12px;
  box-shadow: 0 0 3px 2px #18cfab, 0 0 5px 7px #114c4b;
  transform: translateY(-13px);
  transition: all 0.3s linear;
  border-radius: 50%;
}
.slider-img {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(10, 116, 116, 0.3);
}
.move-left,
.move-right {
  height: 38px;
  width: 38px;
  padding: 10px 8px 10px;
  border: 1px solid #bbbbbb;
}
.move-left:hover,
.move-right:hover {
  fill: #ffffff;
  border: none;
  background: #18cfab;
}

/*    Section Gallery     */

.gallery {
  padding-top: 25px;
  padding-bottom: 67px;
}

.gallery-wrap {
  margin-top: 83px;
  min-height: 925px;
  margin-bottom: 30px;
}
.gallery-item {
  display: flex;
  margin-bottom: 7px;
}
.gallery-item:nth-child(3) {
  margin-bottom: 0;
}

.gallery-item:nth-child(6) {
  margin-top: -7px;
}
.little-item {
  display: flex;
  margin-bottom: 1px;
}

.gallery-invisible {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.64);
  opacity: 0;
}
.gallery-icon {
  margin-left: 25px;
  padding: 10px;
  background-color: #14b9d5;
}

.gallery-little {
  width: 364px;
  height: 465px;
}
.little-item:first-child {
  margin-left: 1px;
}
.gallery-invisible:hover {
  opacity: 1;
  transition: 0.5s;
}

/*               Footer             */

.footer {
  background-color: #22353f;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
  text-align: center;
}
.color {
  color: #18cfab;
  position: relative;
  padding-right: 10px;
}
.color::after {
  content: "";
  display: block;
  height: 16px;
  width: 1px;
  background-color: #aeaeae;
  position: absolute;
  left: 65px;
  top: 1px;
}
